body{
    background-color: black;

}

.main-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 118px;
    text-decoration: none;

}

.upcoming-events{
    display:flex ;
    flex-direction: column;
    cursor: pointer;
}

.row-1{
    display: flex;
}

.row-1 .img-1{
    background-image: url("../images/rw1_1.png");
    width: 277.56px;
    height:111px ;
}

.row-1 .img-2{
    background-image: url("../images/rw1_2.png");
    width:111px;
    height: 111px;
    margin-left: 40px;
}

.row-2{
height: 80px;
width: 444px;
background-color: rgba(255, 205, 16, 1);
font-family: 'Poppins';
font-style: italic;
font-weight: 800;
font-size: 42px;
line-height: 68px;
padding: 20px 0.1px 20px 8px;
border-radius: 20px;
margin-top: 70px;


}

.row-3{
    display: flex;
    margin-top: 60px;


}

.row-3  .img-1{
    height: 100px;
    width: 165px;
    background-image: url("../images/rw3_1.png");

}

.row-3 .img-2{
    width: 83.21px;
    height:111px;
    background-image: url("../images/rw3_2.png");
    margin-left: 52px;
}

.row-3 .text{
    background-color: #205B67;
    border-radius: 15px;
    color: aliceblue;
    margin-left: 56px;
    padding-top: 22px;
    width:81.73px ;
    height: 90px;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    font-size: 19px;
    text-align: center;

}

.past-events{
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.past-events .row-2{
    /* padding: 22px 70px 22px 52px; */
    text-align: center;
}