body{
    background-color: black;
}

.hero-1{
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    
}

.bg-container{
    
    z-index: -1;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    
}

.button{
    background-color: aliceblue;
    width: 100px;
    height: 50px;
    text-align: center;
}

.hero-1 .content{
    color: aliceblue;
}


/* .bg-container img{
    z-index: -1;
    position: fixed;
    width: 1920px;
    height: 1920px;
    left: -190.03px;
    top: 240.97px;
    transform: rotate(-42.21deg);
} */


.bg-container img{
    z-index: -1;
    position: fixed;
    width: 1920px;
    height: 1920px;
    left: 450px;
    top: -500px;
    animation: to-right 1s ease-in forwards;
   
    
}
.content{
    font-family: 'Poppins';
    color: #FFFFFF;
    margin-top: 190px;
}

.content h1{
font-family: 'Poppins';
font-style: italic;
font-weight: 700;
font-size: 52px;
line-height: 78px;
text-align: center;
}


.content p{
    margin-top: 18px;
    width: 450px;
height: 270px;
font-family: 'Inter';
font-weight: 700;
font-size: 32px;
line-height: 39px;
text-align: center;
}


@keyframes to-right {

0%{    left: -190.03px;
    top: 230.97px;
    
    transform: rotate(-13.74deg); 

}
    100%{
        left: 450px;
        top: -500px;
        transform: rotate(-163.74deg); 
        
    }
    
}

